﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BiciMasterPage.Master" AutoEventWireup="true" CodeBehind="RegistroPage.aspx.cs" Inherits="BICIEAN.RegistroPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="col-xs-12" style="padding-left: 75px;">
        <div class="col-xs-12 InformationSection">
            Parte para le registro de clientes
        </div>
    </div>
</asp:Content>
